In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import plotly.express as px

In [3]:
df = pd.read_csv(r'/Users/wkhuz/Downloads/Test2.csv/API_EN.URB.MCTY.TL.ZS_DS2_en_csv_v2_327449.csv',sep=',', on_bad_lines='skip', skiprows=4)
print(df.info())
print(df.describe())
print(df.columns)
print(df.shape)
print(df.head())
print(df.size)
missing_values =  df.isnull().sum()
print(missing_values)
duplicates = df.duplicated().sum()
print("Number of duplicates cells:", duplicates)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            159 non-null    float64
 5   1961            159 non-null    float64
 6   1962            159 non-null    float64
 7   1963            159 non-null    float64
 8   1964            159 non-null    float64
 9   1965            159 non-null    float64
 10  1966            159 non-null    float64
 11  1967            159 non-null    float64
 12  1968            159 non-null    float64
 13  1969            159 non-null    float64
 14  1970            159 non-null    float64
 15  1971            159 non-null    float64
 16  1972            159 non-null    float64
 17  1973            159 non-null    float64
 18  1974            159 non-null    float64
 19  1975            159 non-null    float64
 20  1976            159 non-null    float64
 21  1977            159 non-null    float64
 22  1978            159 non-null    float64
 23  1979            159 non-null    float64
 24  1980            159 non-null    float64
 25  1981            159 non-null    float64
 26  1982            159 non-null    float64
 27  1983            159 non-null    float64
 28  1984            159 non-null    float64
 29  1985            159 non-null    float64
 30  1986            159 non-null    float64
 31  1987            159 non-null    float64
 32  1988            159 non-null    float64
 33  1989            159 non-null    float64
 34  1990            159 non-null    float64
 35  1991            159 non-null    float64
 36  1992            159 non-null    float64
 37  1993            159 non-null    float64
 38  1994            159 non-null    float64
 39  1995            159 non-null    float64
 40  1996            159 non-null    float64
 41  1997            159 non-null    float64
 42  1998            159 non-null    float64
 43  1999            159 non-null    float64
 44  2000            159 non-null    float64
 45  2001            159 non-null    float64
 46  2002            159 non-null    float64
 47  2003            159 non-null    float64
 48  2004            159 non-null    float64
 49  2005            159 non-null    float64
 50  2006            159 non-null    float64
 51  2007            159 non-null    float64
 52  2008            159 non-null    float64
 53  2009            159 non-null    float64
 54  2010            159 non-null    float64
 55  2011            159 non-null    float64
 56  2012            159 non-null    float64
 57  2013            159 non-null    float64
 58  2014            159 non-null    float64
 59  2015            159 non-null    float64
 60  2016            159 non-null    float64
 61  2017            159 non-null    float64
 62  2018            159 non-null    float64
 63  2019            159 non-null    float64
 64  2020            159 non-null    float64
 65  2021            159 non-null    float64
 66  2022            159 non-null    float64
 67  2023            159 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None
             1960        1961        1962        1963        1964        1965  \
count  159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    15.043149   15.291067   15.509132   15.731766   15.971053   16.225153
std     14.135766   14.227981   14.234011   14.274322   14.335576   14.405212
min      0.292123    0.315086    0.339733    0.366188    0.394751    0.425473
25%      5.774498    5.987099    6.167739    6.313588    6.489154    6.781302
50%     11.096596   11.416918   11.610022   11.894848   12.148767   12.399033
75%     20.235531   21.008025   21.409043   21.681608   21.805422   21.918276
max     99.191327   99.244948   99.498172   99.684568   99.614086   99.518151

             1966        1967        1968        1969  ...        2015  \
count  159.000000  159.000000  159.000000  159.000000  ...  159.000000
mean    16.490687   16.762613   17.046294   17.340069  ...   24.369500
std     14.532083   14.646299   14.758240   14.867432  ...   15.843719
min      0.458604    0.515299    0.581978    0.657188  ...    3.777411
25%      6.944634    7.092409    7.274212    7.468273  ...   14.162279
50%     12.654128   12.741727   12.817385   13.061009  ...   20.327014
75%     22.129968   22.204288   22.449734   22.712017  ...   28.228977
max     99.217742   99.045611   99.247813   99.609694  ...  100.000000

             2016        2017        2018        2019        2020        2021  \
count  159.000000  159.000000  159.000000  159.000000  159.000000  159.000000
mean    24.598526   24.817115   25.041376   25.175403   25.335137   25.545776
std     15.963072   16.112588   16.267868   16.283390   16.328846   16.450281
min      3.836835    3.896529    3.959054    4.023799    4.090504    4.161455
25%     14.314480   14.488508   14.581002   14.650190   14.728697   14.930158
50%     20.547280   20.791465   21.038515   21.062912   21.114010   21.191434
75%     28.795207   28.984499   29.204469   29.422909   29.648388   30.022968
max    100.000000  100.000000  100.000000  100.000000  100.000000  100.000000

             2022        2023  Unnamed: 68
count  159.000000  159.000000          0.0
mean    25.746686   25.919305          NaN
std     16.503375   16.540810          NaN
min      4.237151    4.315750          NaN
25%     15.150604   15.372748          NaN
50%     21.274978   21.355673          NaN
75%     30.561143   31.031595          NaN
max    100.000000  100.000000          NaN

[8 rows x 65 columns]
Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'Unnamed: 68'],
      dtype='object')
(266, 69)
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  \
0  Population in urban agglomerations of more tha...  EN.URB.MCTY.TL.ZS
1  Population in urban agglomerations of more tha...  EN.URB.MCTY.TL.ZS
2  Population in urban agglomerations of more tha...  EN.URB.MCTY.TL.ZS
3  Population in urban agglomerations of more tha...  EN.URB.MCTY.TL.ZS
4  Population in urban agglomerations of more tha...  EN.URB.MCTY.TL.ZS

       1960      1961      1962      1963      1964      1965  ...       2015  \
0       NaN       NaN       NaN       NaN       NaN       NaN  ...        NaN
1  6.444405  6.564937  6.690929  6.815871  6.947877  7.085666  ...  13.934293
2  3.309401  3.416999  3.525202  3.634510  3.745192  3.855759  ...  11.031576
3  4.885585  5.133641  5.385290  5.635549  5.866315  6.089267  ...  16.590904
4  4.095931  4.284502  4.552704  4.840132  5.151838  5.492957  ...  24.968983

        2016       2017       2018       2019       2020       2021  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1  14.065903  14.207878  14.337003  14.455163  14.581055  14.721332
2  11.020956  10.979017  10.935191  10.892466  10.832154  10.812539
3  16.733759  16.881300  17.038835  17.174603  17.321358  17.483534
4  24.920296  24.878141  24.858720  24.865047  24.918263  25.017194

        2022       2023  Unnamed: 68
0        NaN        NaN          NaN
1  14.876724  15.038653          NaN
2  10.838841  10.863357          NaN
3  17.661611  17.849897          NaN
4  25.155243  25.330621          NaN

[5 rows x 69 columns]
18354
Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960              107
                 ...
2020              107
2021              107
2022              107
2023              107
Unnamed: 68       266
Length: 69, dtype: int64
Number of duplicates cells: 0